.App {
  text-align: center;
}

.note {
  font-size: 1.5em;
}

.indicator-block {

}

.indicator {
  display: inline-block;
  width: 100%;
  height: 18px;
  background-color: #eee;
}

.indicator.on {
  background-color: green;
}

.note-target {
  
}

.note-target.hit {
  color: green;
}